<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="content-body">
  <div class="container-fluid mh-auto">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body px-0">
            <div class="table-responsive">
              <h4 class="text"> Projects</h4>
              <br>
              <div class="row">
                <div class="col"><button type="button" class="btn btn-success " (click)="toggleForm()"><i class='fa fa-plus'></i> Add</button></div>
                <div class="col"> <button type="button" class="btn btn-report" (click)="printReport()"><i class='fa fa-plus'></i>  Print Report </button></div>
                           <!-- Search -->
                           <div class="col">
                           <div class="Search-component">
                              <input title="select" [(ngModel)]="selectedSearchKeyword" class="Search" placeholder="Search">
                              <button title="Search" class="btnSearch" (click)="searchProjects(projects)"> <i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                          </div>
            </div>
            <br>
              <table class="table table-sm mb-0 table-striped student-tbl"  id="projects">
                <thead>
                  <tr>
                    <th class="custom-column">Id</th>
                    <th class="custom-column">Name</th>
                    <th class="custom-column">Start Date</th>
                    <th class="custom-column">End Date</th>
                    <th class="custom-column">Id Manager</th>
                    <th class="custom-column">Actions</th>
                  </tr>
                </thead>
                <tbody>



                  <tr class="btn-reveal-trigger" *ngFor="let project of projects">
                    <td class="py-2"><h5 class="mb-0 fs--1">{{project.id}}</h5></td>
                    <td class="py-2" *ngIf="project !== editingProject">{{ project.nom }}</td>
                    <td class="py-2" *ngIf="project === editingProject"><input title="r" type="text" class="form-control" [(ngModel)]="project.nom" /></td>
                    <td class="py-3">{{project.startDate}}</td>
                    <td class="py-3">{{project.endDate}}</td>
                    <td class="py-2"><h5 class="mb-0 fs--1">{{project.id_manager}}</h5></td>
                    <td>
                      <a class="btn btn-primary shadow btn-xs sharp me-1" (click)="setEditingProject(project)"><i class='fa fa-pencil'></i></a>
                      <a class="btn btn-secondary shadow btn-xs sharp me-1" (click)="UpdateProject(project)"><i class='fa fa-recycle'></i></a>
                      <a class="btn btn-danger shadow btn-xs sharp" (click)="DeleteProject(project.id)"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="notification" class="notification">
                {{ notification }}
              </div>

              <div class="modal" [ngClass]="{ 'show': showForm }">
                <div class="col-12">
                  <form class="card" #addForm="ngForm" action="" id="wizard">
                    <div class="card-header">
                      <h4 class="card-title">Add Project</h4>
                    </div>
                    <div class="card-body">

                      <div class="row form-material">
                        <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                            <label class="form-label">Project Name<span style="color: rgb(180, 16, 16); font-size: 10px; font-style: italic;">*</span ></label>
                            <input type="text" class="form-control"  placeholder="ProjectName" value="ProjectName" id="ProjectName" [(ngModel)]="project.nom" required>
                        </div>
                        <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                            <label class="form-label">Start Date<span style="color: rgb(180, 16, 16); font-size: 10px; font-style: italic;">*</span ></label>
                            <input type="date" id="startDate" class="form-control" placeholder="Start date" [(ngModel)]="project.startDate" required>
                        </div>
                        <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                            <label class="form-label">End Date<span style="color: rgb(180, 16, 16); font-size: 10px; font-style: italic;">*</span ></label>
                              <input type="date" id="endDate" class="form-control" placeholder="Start date" [(ngModel)]="project.endDate" required>
                        </div>

                        <div class="col-xl-3 col-xxl-6 col-md-6">
                            <label class="form-label">Manager Id<span style="color: rgb(180, 16, 16); font-size: 10px; font-style: italic;">*</span ></label>
                            <input type="number" class="form-control" placeholder="Manager Id" id="id_manager" [(ngModel)]="project.id_manager" required>

                        </div>

                      </div>

                      <div class="row">
                        <div class="col">
                          <button type="button" class="btn btn-warning" [disabled]="!addForm.valid" (click)="addProject(addForm)">
                            <i class="fa fa-plus"></i> Add
                          </button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-danger" (click)="CloseForm(addForm)">
                            <i class="fa fa-close"></i> Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
