.custom-column {
  width: 20%;
}

.btn-success{
margin-left:  2%;
}
.btn-warning{
  width: 12%;
  margin-left:  89%;

}
.task{
  color: aliceblue;
}
.btn-report{
  margin-left: 98%;
  background-color: rgba(37, 49, 107, 0.866);
  color:white;
  }

  .text{
    margin-left: 1%;
 }
 .btnSearch{
   background-color: rgba(255, 255, 251, 0.768);
   border-color: rgb(165, 159, 159);
   border-radius: 10%;
   width: 10%;
 }
 .Search{
  background-color:white;
  border-color: rgb(235, 228, 228);
}
.Search-component{
  margin-left: 28%;
}
.card{border-color: rgb(205, 205, 222);}

